@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

body {
  @apply bg-white text-black;
  font-family: 'Open Sans', sans-serif;
  background-color: '#06141b';
}